* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  background-color: #EDF1F4;
}

section {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  form {
    border: 1px solid #E5EAEE;
    border-radius: 3px;
    background-color: #fff;
    box-shadow:0 1px 1px #ccc;
    h3 {
      text-align: center;
      background-color: #EFF4F8;
      border-bottom: 1px solid #F0F4F7;
      padding: 10px;
    }
    p {
      margin: 10px 15px;
    }
    input {
      margin: 5px auto;
      display: block;
      padding: 3px 5px;
      width: 260px;
      &[type='password'] {
        margin-bottom: 15px;
      }
    }
    .btn {
      width: 120px;
      color: #fff;
      background-color: #3F86D4;
      border: none;
      border-radius: 20px;
      padding: 5px;
      margin-bottom: 15px;
    }
  }
  .popup {
    max-width: 240px;
    border: 1px solid #E5EAEE;
    border-radius: 3px;
    background-color: #fff;
    box-shadow:0 1px 1px #ccc;
    position: absolute;
    top: 195px;
    left: 10%;
    p {
      padding: 5px;
    }
    p:not(.condition) {
      text-align: left;
      margin-left: 10px;
    }
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.none {
  display: none;
}